# Root
.env
node_modules

# Backend
devflow-server/node_modules
devflow-server/dist
devflow-server/.env

# Frontend
devflow-client/node_modules
devflow-client/dist
devflow-client/.env.local
devflow-client/.env.production